body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 300px;
}

.form-control {
    width: 100%;
    margin-top: 10px;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s;
}

.btn-primary {
    margin-top: 20px;
    width: 100%;
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}



