body {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.btn > a {
  text-decoration: none;
  color: black;
}

h1 {
  padding-top: 30px;
  padding-bottom: 15px;
}


h2 {
  font-weight: 100;
}

ul {
  padding-top: 15px;
  padding-bottom: 15px;
}

li {
  text-align: left;
  padding: 3px;
}


pre {
  padding: 20px;
  background-color: rgb(227, 227, 227);
  text-align: left; 
  font-weight: 200;
}

.card {
    border: 1px solid black !important;
  }

.section-zodic{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Estilo inicial para la imagen */
#logo {
    transition: transform 0.3s; /* Agrega una transición suave al giro */
  }
  
  /* Aplica la transformación de giro cuando el mouse pasa sobre la imagen */
  #logo:hover {
    transform: rotate(360deg); /* Gira la imagen 360 grados al pasar el mouse sobre ella */
  }

.text {
    color: rgb(216, 216, 216);
}
  

/*===================================
==ANIMACIONES PARA EL CALCULATOR======
====================================*/


/* Animación de entrada */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Animación de salida */
@keyframes fadeOut {
  from { opacity: 1; transform: translateY(0); }
  to { opacity: 0; transform: translateY(-20px); }
}

/* Estilo inicial para el resultado */
#result {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  padding: 15px;
}


/* Agregar clase para mostrar el resultado con animación */
#result.show {
  opacity: 1;
  transform: translateY(0);
  animation: fadeIn 0.3s ease forwards;
}

/* Agregar clase para ocultar el resultado con animación */
#result.hide {
  animation: fadeOut 0.3s ease forwards;
}



/*===================================
====ESTILOS PARA JUEGO DE DADOS======
====================================*/

.juegoDados {
  background-color: #ffc107;
}

#start {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  transition: transform 1.5s ease;
  background-color: #ffc107;
  border-radius: 0%;
  border: 0;
  font-size: 75px; /* Tamaño del texto */
  padding: 10px 10px; /* Espaciado interno */
  
}

#start:hover {
  transform: scale(1.1);
  animation: colorChange 0.5s infinite;
   /* Cambiar por el color que prefieras */
}



@keyframes colorChange {
  0% {
    color: rgb(255, 0, 0); /* Rojo */
  }
  50% {
    color: rgb(0, 255, 0); /* Verde */
  }
  100% {
    color: rgb(0, 0, 255); /* Azul */
  }
}



ol {
  margin-bottom: 35px;
  padding: 10px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  list-style-type: none;
}

ol li {
  margin-bottom: 5px;
}

ol li:before {
  content: "•";
  margin-right: 5px;
}

